/* #cv-form{
    display: none;
} */
#cv-template{
    display: none;
}
.print{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 13px 33px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 24px;
    border: 2px solid wheat;
    font-weight: 600;
}
.print:hover{
    background-color: aqua;
    color: black;
}
.container-cv-demo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container-cv {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container-cv .title-cv {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container-cv .title-cv::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box textarea {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

input[type="file"] {
    cursor: pointer;
    display: inline-block;
    line-height: 3rem;
}

input[type="file"]:focus,
input[type="file"]:hover {
    background-color: #f15d22;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

form .button textarea:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

.footer {
    background-color: #333;
    margin-top: 3rem;
    padding: 1rem 0;
    width: 100%;
}

.footer-text {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;

}

.container-cv-template1 {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-cv-template {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container-cv-template .left_side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.containerInformation {
    padding-top: 40px;
}

.cv-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.containerInformation ul {
    position: relative;
}

.containerInformation ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.containerInformation ul li .Icon-cv {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.containerInformation ul li .cv-text {
    color: #fff;
    font-weight: 300;
}

.containerInformation.education li {
    margin-bottom: 15px;
}

.containerInformation.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.containerInformation.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.containerInformation.education h4 {
    color: #fff;
    font-weight: 300;
}

.containerInformation.language .cv-percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(14, 13, 13);
    display: block;
    margin-top: 5px;
}

.containerInformation.language .cv-percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.container-cv-template .right_side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.cv-about {
    margin-bottom: 50px;
}

.cv-about-child {
    margin-bottom: 0px;
}

.cv-title-2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.cv-p {
    color: #333;
}

.cv-about .cv-box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.cv-about .cv-box .cv-year_company {
    min-width: 150px;
}

.cv-about .cv-box .cv-year_company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.cv-about .cv-box .cv-text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .cv-box-2 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .cv-box-2 h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .cv-box-2 .cv-percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .cv-box-2 .cv-percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px) {
    .container-cv-template {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cv-about .cv-box {
        flex-direction: column;
    }

    .cv-about .cv-box .cv-year_company {
        margin-bottom: 5px;
    }

    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills .cv-box-2 {
        grid-template-columns: repeat(1, 1fr);
    }
}
